// text
$color__text-main: #404040;
$color__text-highlight: #404040;
$color__text-reverse: #fff;

// links
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__link-border: rgba(0, 0, 0, 0.5);

// borders
$color__border: #000;
$color__border-light: #ccc;

// backgrounds
$color_bg-default: #fff;
$color_bg-light: #eee;
$color_bg-dark: #000;
